.btn {
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
	padding: 0.5rem;
	border: none;
	border-radius: 0.2rem;
	transition: all 0.2s;
	cursor: pointer;

	&--primary {
		background: $color-primary;
		color: $color-cyan-800;
	}

	&:hover {
		background-color: $color-cyan-300;
		color: $color-cyan-800;
	}
}
