$color-cyan-800: hsl(183, 100%, 15%);
$color-cyan-700: hsl(186, 14%, 43%);
$color-cyan-400: hsl(184, 14%, 56%);
$color-cyan-300: hsl(173, 61%, 77%);
$color-cyan-200: hsl(185, 41%, 84%);
$color-cyan-100: hsl(189, 41%, 97%);

$color-white: hsl(0, 0%, 100%);
$color-primary: hsl(172, 67%, 45%);
$color-warning: #ff9d00;

$desktop-sm: 768px;
